In [1]:
#!pip install kmodes

Requirement already satisfied: kmodes in c:\users\skesh\appdata\roaming\python\python37\site-packages (0.10.1)
Requirement already satisfied: joblib>=0.11 in c:\users\skesh\anaconda3\lib\site-packages (from kmodes) (0.14.1)
Requirement already satisfied: scipy>=0.13.3 in c:\users\skesh\anaconda3\lib\site-packages (from kmodes) (1.4.1)
Requirement already satisfied: numpy>=1.10.4 in c:\users\skesh\anaconda3\lib\site-packages (from kmodes) (1.18.1)
Requirement already satisfied: scikit-learn>=0.19.0 in c:\users\skesh\anaconda3\lib\site-packages (from kmodes) (0.23.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\skesh\anaconda3\lib\site-packages (from scikit-learn>=0.19.0->kmodes) (2.1.0)

In [1]:
import numpy as np
import pandas as pd

from kmodes.kprototypes import KPrototypes

In [2]:
df = pd.read_csv('Marketing.csv')

In [3]:
df.columns

Index(['Customer', 'State', 'CLV', 'Coverage', 'Income', 'loc_type',
       'monthly_premium', 'months_last_claim', 'Months_Since_Policy_Inception',
       'Total_Claim_Amount', 'Vehicle_Class', 'avg_vehicle_age'],
      dtype='object')

In [4]:
df

,Customer,State,CLV,Coverage,Income,loc_type,monthly_premium,months_last_claim,Months_Since_Policy_Inception,Total_Claim_Amount,Vehicle_Class,avg_vehicle_age
0,BU79786,Washington,2763.519279,Basic,56274,Suburban,69,32,5,384.811147,Two-Door Car,40.696695
1,AI49188,Nevada,12887.431650,Premium,48767,Suburban,108,18,38,566.472247,Two-Door Car,48.755298
2,HB64268,Washington,2813.692575,Basic,43836,Rural,73,12,44,138.130879,Four-Door Car,70.394474
3,OC83172,Oregon,8256.297800,Basic,62902,Rural,69,14,94,159.383042,Two-Door Car,53.460212
4,XZ87318,Oregon,5380.898636,Basic,55350,Suburban,67,0,13,321.600000,Four-Door Car,32.811507
...,...,...,...,...,...,...,...,...,...,...,...,...
6812,TF56202,California,5032.165498,Basic,66367,Suburban,64,6,48,307.200000,Two-Door Car,37.492591
6813,YM19146,California,4100.398533,Premium,47761,Suburban,104,16,58,541.282007,Four-Door Car,48.946675
6814,LA72316,California,23405.987980,Basic,71941,Urban,73,18,89,198.234764,Four-Door Car,65.310053
6815,PK87824,California,3096.511217,Extended,21604,Suburban,79,14,28,379.200000,Four-Door Car,48.002914
6816,UP19263,California,7524.442436,Extended,21941,Suburban,96,34,3,691.200000,Four-Door Car,45.151858

In [5]:
df=df.drop(['Customer','Vehicle_Class','avg_vehicle_age','months_last_claim','Total_Claim_Amount'],axis=1)

In [6]:
df.head(3)

,State,CLV,Coverage,Income,loc_type,monthly_premium,Months_Since_Policy_Inception
0,Washington,2763.519279,Basic,56274,Suburban,69,5
1,Nevada,12887.431650,Premium,48767,Suburban,108,38
2,Washington,2813.692575,Basic,43836,Rural,73,44

In [7]:
df_array=df.values

In [12]:
df_array[:, 1] = df_array[:, 1].astype(float)
df_array[:, 3] = df_array[:, 3].astype(float)
df_array[:, 5] = df_array[:, 5].astype(float)
df_array[:, 6] = df_array[:, 6].astype(float)

In [9]:
kproto = KPrototypes(n_clusters=3, verbose=2,max_iter=20)

In [10]:
clusters = kproto.fit_predict(df_array, categorical=[0, 2, 4])

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 735, ncost: 786494325195.457
Run: 1, iteration: 2/20, moves: 82, ncost: 785840712837.4766
Run: 1, iteration: 3/20, moves: 35, ncost: 785681595789.9498
Run: 1, iteration: 4/20, moves: 11, ncost: 785652773397.5133
Run: 1, iteration: 5/20, moves: 16, ncost: 785609292387.8529
Run: 1, iteration: 6/20, moves: 13, ncost: 785587014534.5712
Run: 1, iteration: 7/20, moves: 6, ncost: 785580196116.0236
Run: 1, iteration: 8/20, moves: 4, ncost: 785577307058.1285
Run: 1, iteration: 9/20, moves: 4, ncost: 785574087818.5051
Run: 1, iteration: 10/20, moves: 3, ncost: 785572843787.3956
Run: 1, iteration: 11/20, moves: 0, ncost: 785572843787.3956
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 1240, ncost: 920114249587.3894
Run: 2, iteration: 2/20, moves: 792, ncost: 838309773787.205
Run: 2, iteration: 3/20, moves: 532, ncost: 803259885061.1887
Run: 2, iteration: 4/20, moves: 329, ncost: 790990163786.5853
Run: 2, iteration: 5/20, moves: 168, ncost: 787464131631.9896
Run: 2, iteration: 6/20, moves: 91, ncost: 786314050699.804
Run: 2, iteration: 7/20, moves: 67, ncost: 785715286722.8397
Run: 2, iteration: 8/20, moves: 35, ncost: 785571996335.9274
Run: 2, iteration: 9/20, moves: 11, ncost: 785552822475.9595
Run: 2, iteration: 10/20, moves: 6, ncost: 785548092552.7047
Run: 2, iteration: 11/20, moves: 4, ncost: 785545634415.1555
Run: 2, iteration: 12/20, moves: 0, ncost: 785545634415.1555
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 1547, ncost: 1005074864193.011
Run: 3, iteration: 2/20, moves: 1057, ncost: 868613208043.8054
Run: 3, iteration: 3/20, moves: 638, ncost: 816309975408.91
Run: 3, iteration: 4/20, moves: 411, ncost: 795260509380.5643
Run: 3, iteration: 5/20, moves: 222, ncost: 789105377764.2614
Run: 3, iteration: 6/20, moves: 127, ncost: 786972864702.965
Run: 3, iteration: 7/20, moves: 85, ncost: 785989757076.0743
Run: 3, iteration: 8/20, moves: 56, ncost: 785621748137.4851
Run: 3, iteration: 9/20, moves: 22, ncost: 785557453367.9034
Run: 3, iteration: 10/20, moves: 7, ncost: 785550664653.3424
Run: 3, iteration: 11/20, moves: 7, ncost: 785545634415.1552
Run: 3, iteration: 12/20, moves: 0, ncost: 785545634415.1552
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 754, ncost: 842790212192.1743
Run: 4, iteration: 2/20, moves: 525, ncost: 805261410355.6302
Run: 4, iteration: 3/20, moves: 347, ncost: 791558710361.6129
Run: 4, iteration: 4/20, moves: 171, ncost: 787758777586.0885
Run: 4, iteration: 5/20, moves: 100, ncost: 786415917594.5876
Run: 4, iteration: 6/20, moves: 74, ncost: 785726741417.6901
Run: 4, iteration: 7/20, moves: 35, ncost: 785576817979.9011
Run: 4, iteration: 8/20, moves: 12, ncost: 785553835556.5508
Run: 4, iteration: 9/20, moves: 4, ncost: 785550664653.3425
Run: 4, iteration: 10/20, moves: 7, ncost: 785545634415.1553
Run: 4, iteration: 11/20, moves: 0, ncost: 785545634415.1553
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 1100, ncost: 820208754280.2885
Run: 5, iteration: 2/20, moves: 419, ncost: 796069145154.672
Run: 5, iteration: 3/20, moves: 229, ncost: 789386273195.7969
Run: 5, iteration: 4/20, moves: 134, ncost: 787053472267.3033
Run: 5, iteration: 5/20, moves: 88, ncost: 786017677597.4598
Run: 5, iteration: 6/20, moves: 58, ncost: 785626178299.521
Run: 5, iteration: 7/20, moves: 20, ncost: 785564139538.9408
Run: 5, iteration: 8/20, moves: 9, ncost: 785551468522.3025
Run: 5, iteration: 9/20, moves: 6, ncost: 785546422486.7771
Run: 5, iteration: 10/20, moves: 2, ncost: 785545634415.1553
Run: 5, iteration: 11/20, moves: 0, ncost: 785545634415.1553
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 502, ncost: 811372751821.7816
Run: 6, iteration: 2/20, moves: 367, ncost: 793694314235.2157
Run: 6, iteration: 3/20, moves: 203, ncost: 788524421813.4565
Run: 6, iteration: 4/20, moves: 125, ncost: 786622407837.4918
Run: 6, iteration: 5/20, moves: 74, ncost: 785845456299.6376
Run: 6, iteration: 6/20, moves: 50, ncost: 785583360246.1486
Run: 6, iteration: 7/20, moves: 15, ncost: 785553835556.5504
Run: 6, iteration: 8/20, moves: 4, ncost: 785550664653.3425
Run: 6, iteration: 9/20, moves: 7, ncost: 785545634415.1553
Run: 6, iteration: 10/20, moves: 0, ncost: 785545634415.1553
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 1471, ncost: 812690948721.8875
Run: 7, iteration: 2/20, moves: 411, ncost: 791660100569.3672
Run: 7, iteration: 3/20, moves: 188, ncost: 787227368028.267
Run: 7, iteration: 4/20, moves: 89, ncost: 786147295430.8438
Run: 7, iteration: 5/20, moves: 46, ncost: 785865782980.6884
Run: 7, iteration: 6/20, moves: 39, ncost: 785682196859.6215
Run: 7, iteration: 7/20, moves: 12, ncost: 785652773397.5131
Run: 7, iteration: 8/20, moves: 16, ncost: 785609292387.8528
Run: 7, iteration: 9/20, moves: 13, ncost: 785587014534.5712
Run: 7, iteration: 10/20, moves: 6, ncost: 785580196116.0237
Run: 7, iteration: 11/20, moves: 4, ncost: 785577307058.1287
Run: 7, iteration: 12/20, moves: 4, ncost: 785574087818.5051
Run: 7, iteration: 13/20, moves: 3, ncost: 785572843787.3955
Run: 7, iteration: 14/20, moves: 0, ncost: 785572843787.3955
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 584, ncost: 1192229702312.7734
Run: 8, iteration: 2/20, moves: 1161, ncost: 824962175515.5897
Run: 8, iteration: 3/20, moves: 759, ncost: 785966991069.4706
Run: 8, iteration: 4/20, moves: 97, ncost: 785542152185.0873
Run: 8, iteration: 5/20, moves: 4, ncost: 785541255349.3549
Run: 8, iteration: 6/20, moves: 0, ncost: 785541255349.3549
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 985, ncost: 846480642111.0
Run: 9, iteration: 2/20, moves: 570, ncost: 806740615295.4257
Run: 9, iteration: 3/20, moves: 362, ncost: 791887752472.6259
Run: 9, iteration: 4/20, moves: 179, ncost: 787836890881.0387
Run: 9, iteration: 5/20, moves: 104, ncost: 786426844156.4155
Run: 9, iteration: 6/20, moves: 74, ncost: 785733314562.7205
Run: 9, iteration: 7/20, moves: 38, ncost: 785571996335.9276
Run: 9, iteration: 8/20, moves: 11, ncost: 785552822475.9596
Run: 9, iteration: 9/20, moves: 6, ncost: 785548092552.7046
Run: 9, iteration: 10/20, moves: 4, ncost: 785545634415.1554
Run: 9, iteration: 11/20, moves: 0, ncost: 785545634415.1554
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 1050, ncost: 1193233329485.2249
Run: 10, iteration: 2/20, moves: 1291, ncost: 811014780469.6315
Run: 10, iteration: 3/20, moves: 659, ncost: 785849217718.8855
Run: 10, iteration: 4/20, moves: 75, ncost: 785552491879.6371
Run: 10, iteration: 5/20, moves: 8, ncost: 785546422486.7769
Run: 10, iteration: 6/20, moves: 2, ncost: 785545634415.1555
Run: 10, iteration: 7/20, moves: 0, ncost: 785545634415.1555
Best run was number 8

In [13]:
print(kproto.cluster_centroids_)

[array([[8.32854658e+03, 5.46971570e+04, 9.51439218e+01, 4.91401956e+01],
       [8.04603174e+03, 8.29419437e+04, 9.09288472e+01, 4.76558191e+01],
       [8.03462666e+03, 2.66552219e+04, 9.26149807e+01, 4.69621981e+01]]), array([['California', 'Basic', 'Suburban'],
       ['California', 'Basic', 'Rural'],
       ['California', 'Basic', 'Suburban']], dtype='<U10')]

In [20]:
#1st center
kproto.cluster_centroids_[0][0],kproto.cluster_centroids_[1][0],

(array([8.32854658e+03, 5.46971570e+04, 9.51439218e+01, 4.91401956e+01]),
 array(['California', 'Basic', 'Suburban'], dtype='<U10'))

In [23]:
#2nd center
kproto.cluster_centroids_[0][1],kproto.cluster_centroids_[1][1],

(array([8.04603174e+03, 8.29419437e+04, 9.09288472e+01, 4.76558191e+01]),
 array(['California', 'Basic', 'Rural'], dtype='<U10'))

In [24]:
#3rd center
kproto.cluster_centroids_[0][2],kproto.cluster_centroids_[1][2],

(array([ 8034.62665515, 26655.2219111 ,    92.61498075,    46.96219811]),
 array(['California', 'Basic', 'Suburban'], dtype='<U10'))

In [25]:
predictions=[]
for c in clusters:
    predictions.append(c)

In [26]:
predictions

[0,
 0,
 0,
 0,
 0,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 0,
 0,
 0,
 2,
 2,
 2,
 1,
 2,
 1,
 1,
 2,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 1,
 0,
 2,
 1,
 2,
 1,
 2,
 2,
 0,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 2,
 2,
 2,
 1,
 1,
 0,
 1,
 2,
 2,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 1,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 1,
 1,
 0,
 1,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 0,
 2,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 2,
 1,
 2,
 1,
 2,
 2,
 1,
 2,
 0,
 2,
 2,
 0,
 1,
 2,
 2,
 1,
 2,
 2,
 2,
 0,
 2,
 0,
 1,
 2,
 2,
 2,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 2,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 0,
 2,
 2,
 2,
 0,
 2,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 1,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 1,
 2,
 2,
 1,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 1,
 2,
 0,
 2,
 2,
 2,
 1,
 2,
 0,
 2,
 0,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 0,
 0,
 2,
 1,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 1,
 1,
 2,
 1,
 0,
 0,
 2,
 0,
 1,
 2,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 0,
 0,
 1,
 2,
 2,
 0,
 2,
 2,
 1,
 1,
 0,
 0,
 1,
 1,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 0,
 2,
 2,
 1,
 1,
 0,
 0,
 1,
 0,
 2,
 2,
 2,
 1,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 1,
 1,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 1,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 1,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 0,
 1,
 0,
 0,
 0,
 2,
 1,
 2,
 0,
 1,
 0,
 0,
 2,
 2,
 0,
 2,
 2,
 0,
 0,
 2,
 0,
 1,
 0,
 2,
 1,
 1,
 0,
 0,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 0,
 0,
 1,
 0,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 0,
 2,
 2,
 2,
 1,
 2,
 1,
 1,
 0,
 1,
 1,
 2,
 1,
 2,
 2,
 0,
 2,
 2,
 2,
 0,
 2,
 1,
 2,
 1,
 0,
 1,
 2,
 2,
 0,
 0,
 2,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 2,
 2,
 0,
 1,
 2,
 2,
 0,
 1,
 1,
 0,
 0,
 0,
 2,
 0,
 2,
 2,
 1,
 0,
 2,
 1,
 1,
 2,
 1,
 0,
 0,
 0,
 1,
 2,
 2,
 1,
 0,
 2,
 2,
 1,
 2,
 2,
 1,
 2,
 0,
 2,
 2,
 2,
 2,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 1,
 1,
 2,
 1,
 2,
 0,
 2,
 1,
 1,
 2,
 1,
 0,
 1,
 2,
 0,
 0,
 2,
 2,
 2,
 1,
 2,
 2,
 0,
 1,
 0,
 0,
 2,
 1,
 1,
 0,
 2,
 1,
 1,
 2,
 1,
 1,
 2,
 0,
 2,
 1,
 0,
 2,
 0,
 1,
 2,
 2,
 1,
 0,
 2,
 0,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 1,
 0,
 2,
 2,
 1,
 1,
 2,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 0,
 1,
 2,
 2,
 0,
 1,
 2,
 1,
 1,
 0,
 1,
 2,
 0,
 1,
 0,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 0,
 1,
 2,
 0,
 2,
 2,
 2,
 0,
 0,
 1,
 2,
 0,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 0,
 2,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 0,
 1,
 1,
 0,
 0,
 2,
 0,
 2,
 2,
 0,
 1,
 2,
 0,
 0,
 2,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 2,
 1,
 1,
 1,
 1,
 0,
 2,
 2,
 0,
 1,
 0,
 2,
 2,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 0,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 2,
 2,
 0,
 1,
 2,
 0,
 1,
 0,
 2,
 2,
 0,
 1,
 0,
 1,
 2,
 0,
 2,
 1,
 2,
 1,
 1,
 1,
 2,
 0,
 2,
 0,
 2,
 1,
 1,
 0,
 2,
 1,
 1,
 2,
 2,
 1,
 2,
 2,
 0,
 1,
 1,
 1,
 0,
 0,
 2,
 1,
 2,
 2,
 0,
 1,
 2,
 2,
 1,
 2,
 1,
 0,
 1,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 1,
 2,
 0,
 2,
 2,
 1,
 2,
 1,
 2,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 0,
 2,
 0,
 1,
 2,
 2,
 0,
 1,
 1,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 2,
 1,
 1,
 0,
 0,
 1,
 2,
 2,
 2,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 1,
 2,
 1,
 2,
 0,
 2,
 0,
 1,
 2,
 2,
 0,
 1,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 0,
 2,
 2,
 2,
 1,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 1,
 0,
 0,
 2,
 1,
 2,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 0,
 1,
 2,
 2,
 0,
 2,
 0,
 2,
 1,
 2,
 2,
 1,
 0,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 0,
 1,
 0,
 2,
 0,
 1,
 2,
 1,
 2,
 2,
 0,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 0,
 1,
 1,
 2,
 2,
 1,
 2,
 0,
 0,
 2,
 1,
 2,
 1,
 1,
 0,
 2,
 0,
 1,
 0,
 2,
 1,
 2,
 1,
 1,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 1,
 1,
 0,
 1,
 1,
 2,
 0,
 1,
 2,
 0,
 2,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 1,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 1,
 0,
 2,
 0,
 0,
 ...]

In [27]:
df['cluster']=predictions

In [28]:
df

,State,CLV,Coverage,Income,loc_type,monthly_premium,Months_Since_Policy_Inception,cluster
0,Washington,2763.519279,Basic,56274,Suburban,69,5,0
1,Nevada,12887.431650,Premium,48767,Suburban,108,38,0
2,Washington,2813.692575,Basic,43836,Rural,73,44,0
3,Oregon,8256.297800,Basic,62902,Rural,69,94,0
4,Oregon,5380.898636,Basic,55350,Suburban,67,13,0
...,...,...,...,...,...,...,...,...
6812,California,5032.165498,Basic,66367,Suburban,64,48,0
6813,California,4100.398533,Premium,47761,Suburban,104,58,0
6814,California,23405.987980,Basic,71941,Urban,73,89,1
6815,California,3096.511217,Extended,21604,Suburban,79,28,2
6816,California,7524.442436,Extended,21941,Suburban,96,3,2

In [29]:
df.cluster.value_counts()

2    2857
0    2147
1    1813
Name: cluster, dtype: int64

In [30]:
df[df.cluster==0].head(10)

,State,CLV,Coverage,Income,loc_type,monthly_premium,Months_Since_Policy_Inception,cluster
0,Washington,2763.519279,Basic,56274,Suburban,69,5,0
1,Nevada,12887.431650,Premium,48767,Suburban,108,38,0
2,Washington,2813.692575,Basic,43836,Rural,73,44,0
3,Oregon,8256.297800,Basic,62902,Rural,69,94,0
4,Oregon,5380.898636,Basic,55350,Suburban,67,13,0
13,Oregon,5710.333115,Basic,51148,Urban,72,1,0
14,California,8162.617053,Premium,66140,Suburban,101,21,0
15,Oregon,2872.051273,Basic,57749,Suburban,74,21,0
24,Nevada,18975.456110,Extended,65999,Urban,237,14,0
25,Washington,5018.885233,Basic,54500,Suburban,63,17,0

In [31]:
df[df.cluster==1].head(10)

,State,CLV,Coverage,Income,loc_type,monthly_premium,Months_Since_Policy_Inception,cluster
7,California,8798.797003,Premium,77026,Urban,110,82,1
8,Arizona,8819.018934,Basic,99845,Suburban,110,25,1
9,California,5384.431665,Basic,83689,Urban,70,10,1
19,Oregon,5802.065978,Basic,97541,Suburban,72,1,1
21,Arizona,12902.560140,Premium,86584,Suburban,111,54,1
22,Oregon,3235.360468,Extended,75690,Suburban,80,44,1
27,Arizona,5744.229745,Basic,68987,Urban,71,40,1
34,Washington,2443.665166,Basic,92834,Suburban,61,56,1
53,Oregon,22643.834780,Basic,93011,Rural,113,12,1
56,Oregon,4974.801539,Basic,75644,Suburban,65,68,1

In [32]:
df[df.cluster==2].head(10)

,State,CLV,Coverage,Income,loc_type,monthly_premium,Months_Since_Policy_Inception,cluster
5,Oregon,24127.504020,Basic,14072,Suburban,71,3,2
6,Oregon,7388.178085,Extended,28812,Urban,93,7,2
10,Oregon,7463.139377,Basic,24599,Rural,64,50,2
11,Nevada,2566.867823,Basic,25049,Suburban,67,7,2
12,California,3945.241604,Basic,28855,Suburban,101,59,2
16,Washington,3041.791561,Extended,13789,Suburban,79,49,2
17,Arizona,24127.504020,Basic,14072,Suburban,71,3,2
18,California,2392.107890,Basic,17870,Suburban,61,91,2
20,Washington,5346.916576,Extended,10511,Urban,139,64,2
23,Arizona,2454.583540,Basic,23158,Suburban,63,6,2