In [1]:
import pandas as pd

### Load the CSV

In [2]:
df = pd.read_csv('C:/Users/sreemanta.kesh/Desktop/data.csv')

### Explore

In [3]:
df.head(5)

,Timestamp,Cinsiyet,Yas,Bolge,Egitim,soru1,soru2,soru3,soru4,soru5,soru6,soru7,soru8,soru9,soru10,parti
0,5/11/2018 1:26:14,Erkek,18-30,Marmara,Lisans,Hayır,Evet,Evet,Hayır,Hayır,Hayır,Evet,Hayır,Evet,Evet,IYI PARTI
1,5/11/2018 1:28:11,Erkek,18-30,Marmara,Lisans,Evet,Evet,Hayır,Evet,Hayır,Evet,Hayır,Evet,Hayır,Hayır,AKP
2,5/11/2018 1:28:26,Kadın,18-30,Marmara,Lisans,Hayır,Evet,Hayır,Hayır,Hayır,Hayır,Evet,Hayır,Evet,Evet,DIĞER
3,5/11/2018 1:30:18,Erkek,0-18,Marmara,Lise,Evet,Evet,Hayır,Evet,Hayır,Evet,Evet,Evet,Evet,Evet,IYI PARTI
4,5/11/2018 1:30:21,Erkek,18-30,Marmara,Ön Lisans,Hayır,Evet,Evet,Evet,Hayır,Hayır,Evet,Evet,Hayır,Hayır,IYI PARTI

### Rename the Dataframe

In [4]:
df = df.rename({'Cinsiyet':'Gender','Yas':'Age_Group','Bolge':'City','Egitim':'Education','soru1':'Q1','soru2':'Q2','soru3':'Q3','soru4':'Q4','soru5':'Q5','soru6':'Q6','soru7':'Q7','soru8':'Q8','soru9':'Q9','soru10':'Q10','parti':'Party'},axis=1)

In [5]:
df.head(5)

,Timestamp,Gender,Age_Group,City,Education,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Party
0,5/11/2018 1:26:14,Erkek,18-30,Marmara,Lisans,Hayır,Evet,Evet,Hayır,Hayır,Hayır,Evet,Hayır,Evet,Evet,IYI PARTI
1,5/11/2018 1:28:11,Erkek,18-30,Marmara,Lisans,Evet,Evet,Hayır,Evet,Hayır,Evet,Hayır,Evet,Hayır,Hayır,AKP
2,5/11/2018 1:28:26,Kadın,18-30,Marmara,Lisans,Hayır,Evet,Hayır,Hayır,Hayır,Hayır,Evet,Hayır,Evet,Evet,DIĞER
3,5/11/2018 1:30:18,Erkek,0-18,Marmara,Lise,Evet,Evet,Hayır,Evet,Hayır,Evet,Evet,Evet,Evet,Evet,IYI PARTI
4,5/11/2018 1:30:21,Erkek,18-30,Marmara,Ön Lisans,Hayır,Evet,Evet,Evet,Hayır,Hayır,Evet,Evet,Hayır,Hayır,IYI PARTI

### Replace all the repeating Turkish words by thier corresponding English meaning at once

In [6]:
df = df.replace(['Erkek','Kadın','Hayır','Evet','DIĞER'],['Male','Female','No','Yes','OTHERS'])

In [7]:
df.head(5)

,Timestamp,Gender,Age_Group,City,Education,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Party
0,5/11/2018 1:26:14,Male,18-30,Marmara,Lisans,No,Yes,Yes,No,No,No,Yes,No,Yes,Yes,IYI PARTI
1,5/11/2018 1:28:11,Male,18-30,Marmara,Lisans,Yes,Yes,No,Yes,No,Yes,No,Yes,No,No,AKP
2,5/11/2018 1:28:26,Female,18-30,Marmara,Lisans,No,Yes,No,No,No,No,Yes,No,Yes,Yes,OTHERS
3,5/11/2018 1:30:18,Male,0-18,Marmara,Lise,Yes,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,IYI PARTI
4,5/11/2018 1:30:21,Male,18-30,Marmara,Ön Lisans,No,Yes,Yes,Yes,No,No,Yes,Yes,No,No,IYI PARTI

### Do the same for Education columns

In [8]:
df = df.replace(['Lisans','Lise','Lisans Üstü','Ön Lisans','İlkokul','Ortaokul'],['University','High School','MA','Associate Degree','Primary High School','Junior High School'])

In [9]:
df.head(5)

,Timestamp,Gender,Age_Group,City,Education,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Party
0,5/11/2018 1:26:14,Male,18-30,Marmara,University,No,Yes,Yes,No,No,No,Yes,No,Yes,Yes,IYI PARTI
1,5/11/2018 1:28:11,Male,18-30,Marmara,University,Yes,Yes,No,Yes,No,Yes,No,Yes,No,No,AKP
2,5/11/2018 1:28:26,Female,18-30,Marmara,University,No,Yes,No,No,No,No,Yes,No,Yes,Yes,OTHERS
3,5/11/2018 1:30:18,Male,0-18,Marmara,High School,Yes,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,IYI PARTI
4,5/11/2018 1:30:21,Male,18-30,Marmara,Associate Degree,No,Yes,Yes,Yes,No,No,Yes,Yes,No,No,IYI PARTI

### Extract the dataframe into CSV in your desired path

In [10]:
df.to_csv('C:/Users/sreemanta.kesh/Desktop/Clarity/Poll_Survey.csv',encoding='utf-8',index=True)